   #article{
          padding-left:25px;
      }
      #grid{
          display : grid;
          grid-template-columns: 150px 1fr;
      }
      a{
          color : black;
          text-decoration: none; 
      }
      h1{
          font-size : 70px;
          text-align : center;
          border-bottom: 1px solid gray;
          margin:0;
          padding:20px;
      }
      ol{
          border-right: 1px solid gray;
          width:100px;
          margin:0;
          padding:20px;
      }
      #grid ol{
        padding-left : 33px;
      }
      body{
          margin:0;
      }
      @media(max-width:700px){
        #grid{
          display : block;
      }
      ol{
          border-right: none;
      }
      h1{
          border-bottom: none;
      }
      }
